<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agni Stickers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Agni.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9508F6B81AF52A2B00A8C713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9508F6CD1AF52A2B00A8C713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9583EBFC1D8F8B8D0097D22B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9583EC0A1D8F8C060097D22B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
